.photo-grid {
  padding: 20vw 5vw 0;

}

@media screen and (min-width: 768px) {
  .photo-grid {
    padding: 11.46vw 3.13vw 0;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    padding: 92px 0 0;
    max-width: 928px;
    margin: 0 auto;
  }
}
