.places {
  padding-top: 20vw;
}

@media screen and (min-width: 768px) {
  .places {
    padding: 11.72vw 3.13vw 0;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    /* padding-bottom: 8.98vw; */
    padding-top: 8.88vw;
    padding-right: 4.69vw;
    padding-left: 4.69vw;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    /* padding: 7.18vw 11.56vw 0; */
    padding-top: 92px;
    padding-right: 100px;
    padding-left: 100px;
  }
}
