.places {
  padding-top: 20vw;
}

@media screen and (min-width: 768px) {
  .places {
    padding: 11.72vw 3.13vw 0;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    padding: 8.98vw 4.69vw 0;
  }
}
