.cover__subtitle {
  max-width: 288px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  white-space: pre-line;
  margin: 5vw 0 0;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
    margin: 32px 0 0;
    white-space: normal;
  }
}
