.intro {
  padding-top: 20vw;
  min-width: 288px;
  margin: 0 5vw;
}

@media screen and (min-width: 768px) {
  .intro {
    padding-top: 11.46vw;
    min-width: 720px;
    margin: 0 3.13vw;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    padding-top: 92px;
    max-width: 690px;
    margin: 0 0 0 4.69vw;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    margin: 0 0 0 11.56vw;
  }
}
