.cover {
  margin-top: 20.63vw;
  display: flex;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.cover::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: -1px;
  padding-top: calc(740 / 1184 * 100%);
}

@media screen and (min-width: 768px) {
  .cover {
    margin-top: 11.5vw;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 8.98vw;
  }
}
