.footer {
  /* padding: 64px 0 24px 16px; */
  padding: 19.5vw 0 7.5vw 5vw;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 720px;
    padding: 11.46vw 3.13vw 3.13vw;
    min-height: 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    min-width: 928px;
    padding: 8.98vw 4.68vw 2.34vw;
  }
}
